
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #DF1600;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: -15px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background 0.3s ease;
  font-family: "Lexend", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #00000067;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #000000;
}

.nav-links a:hover::after {
  width: 100%;
}

header.hero {
  width: 100%;
  height: 300vh;
  position: relative;
  overflow: visible;
}


.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  overflow: visible;
}

.layer.mountain { z-index: 1; }
.layer.clouds { z-index: 2; }
.layer.rocks { z-index: 3; }

.scene img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#brandingText {
  position: fixed;
  top: 50%;
  left: 50%; 
  padding-top: 500px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(0, 0, 0);
  z-index: 2;
  opacity: 1;
  text-align: center;
  font-family: "Barriecito", system-ui;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.branding-text h1 {
  font-size: clamp(4rem, 10vw, 10rem);
  color: rgb(0, 0, 0);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 50px;
}

.tomodachi {
  position: relative;
  margin-top: -72rem; 
  background-color: #DF1600;
  text-align: center;
  z-index: 2;
}

.tomodachi .about-text,
.tomodachi .mission {
  opacity: 0;
  transform: translateY(50px);
}


.about-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 20rem;
  margin-left: 0rem;
  color: #000000;
  font-family: "Lexend", sans-serif;
  
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  color: #000000;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
}

.mission p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  margin-right: 5rem;
  color: #000000;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.coffeephoto img{
  position: relative;
  top: 50px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin-top: 0rem;
  margin-left: 13rem;
  top: -120px;
}

.merchant {
  position: relative;
  background-color: #DF1600;
  padding: 6rem 2rem;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  text-align: center;
  z-index: 4;
  padding-bottom: 0 rem;
  font-family: "Castoro Titling", serif;
}

.scroll-banner {
  margin-left: -35px;
  position: absolute;
  top: 350px;
  width: 100%;
  overflow: hidden;
  transform: rotate(-3deg);
  z-index: 0;
}

.scroll-track {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 20s linear infinite;
}

.scroll-track span {
  font-size: 8rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.644);
  font-family: "Chiron Sung HK", serif;
  letter-spacing: 2px;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.merchant .buy {
  opacity: 0;
  transform: translateY(50px);
}

.buy {
  position: relative;
  z-index: 2;
  text-align: left;
  margin-bottom: 10rem;
}

.buy h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0rem;
  position: relative;
  top: 0px;
  left: 65px;
  font-family: "Castoro Titling", serif;
}

.buy button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 65px;
  transition: background 0.3s ease;
  z-index: 99;
  border-radius: 20px;
  font-family: "Castoro Titling", serif;
  font-size: 20px;
}

.buy button:hover {
  background-color: #2d2929;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.merch-black,
.merch-white,
.merch-bottle {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.merch-black img,
.merch-white img,
.merch-bottle img {
  width: 250px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: -200px;
  left: 150px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.merch-black img:hover,
.merch-white img:hover,
.merch-bottle img:hover {
  transform: scale(1.05);
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding-top: 40px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3; 
}

.video-text {
  position: relative;
  z-index: 4;
  font-size: 12rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.coffee-types {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  z-index: 3;
}

.bean {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: 3;
}

.bean h2 {
  z-index: 4;
  mix-blend-mode: difference;
}

.bean::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}


.liberica {
  background-image: url('img/LIBERICA.jpg');
}

.arabica {
  background-image: url('img/ARABICA.png');
}

.robusta {
  background-image: url('img/ROBUSTA.png');
}


.bean:hover {
  transform: scale(1.05);
}

.coffee-footer {
  font-family: 'Segoe UI', sans-serif;
}


.footer-main {
  background-color: #ffffff;
  color: #000;
  padding: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 3;
  font-family: "Castoro Titling", serif;
}

.footer-nav h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-nav ul li {
  margin-bottom: 0.5rem;
}

.footer-nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 500; 
  transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
  color: #8f8f8f;
}

.footer-image img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  z-index: 3px;
  left: 57rem;
  top: -40px;
  position: absolute;
}

.footer-map {
  flex: 1;
  min-width: 300px;
}

.footer-map h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.footer-bottom {
  background-color: #312221;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}
